a {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
.shelfs h3 {
  text-align: center;
  margin: 0;
}
.shelfs {
  margin: 0;
  padding: 0;
}
.quote.right.icon {
  float: right;
}
.reds {
  color: red !important;
}
.quote.icon {
  margin: 0;
  padding: 0;
}
.shelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.shelf-book {
  margin: 20px;
  width: 150px;
  height: 310px;
}
.shelf-book img {
  width: 150px;
  height: 200px;

  background-size: cover;
}
.book-settings {
  position: relative;
}
.circle-book-menu {
  border-radius: 50%;
  background: rgb(227, 61, 61);
  position: absolute;
  bottom: -5px;
  right: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
  cursor: pointer;
}
.circle-book-menu i {
  color: white;
}

.authors {
  color: rgb(161, 161, 161);
  font-size: 0.8em;
  display: grid;
  padding: 0;
  margin: 0;
}
.authors span {
  margin-bottom: -2px;
  padding: 0;
}
.titleauthor {
  padding: 0;
}
.titleauthor p {
  margin: 0;
}
